html {
    position: relative;
    min-height: 100%;
}

body {
	color: #dedede;
	margin-bottom: 60px;
	background-color: #222222;
	background-image:
	radial-gradient(
		#404040,
		#222222
	);
}

.circle {
	display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 50%;
}

.circle-sm {
	width: 200px;
	height: 200px;
	font-size: 18px;
}

.circle-lg {
	width: 300px;
	height: 300px;
	font-size: 32px;
}

.circle:focus, 
.circle:active:focus,
.circle.active:focus {outline:0;}

.list-group-item-primary {
    color: #ffffff;
    background-color: #85C7FF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
}

.footer div iframe {margin-top: 15px;}

@media (min-width: 768px) {

	.row {margin: 20px 0;}
}
