html {
    position: relative;
    min-height: 100%;
}

body {
	color: #dedede;
	margin-bottom: 60px;
	background-color: #222222;
	background-image:
	radial-gradient(
		#404040,
		#222222
	);
}

.btn:focus, 
.btn:active:focus,
.btn.active:focus {outline:0;}
.btn {margin-bottom: 5px;}
.timer {
	font-size: 6em;
	text-shadow: 3px 3px 5px #222222;
}

.list-group-item-primary {
    color: #ffffff;
    background-color: #85C7FF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
}

.footer div iframe {margin-top: 15px;}

@media (min-width: 768px) {

	.row {margin: 20px 0;}

	.timer {font-size: 6em;}
}

@media (min-width: 992px) {

	.timer {font-size: 8em;}
}